  }
}.buti-foto {
  position: absolute;
  bottom: -10vmin;
  left: 50%;
  width: 40vmin;
  height: 40vmin;
  object-fit: cover;
  clip-path: polygon(
    50% 15%, 61% 6%, 75% 6%, 85% 15%, 90% 25%, 90% 35%, 85% 45%,
    50% 85%, 15% 45%, 10% 35%, 10% 25%, 15% 15%, 25% 6%, 39% 6%
  );
  transform: translateX(-50%) scale(0);
  opacity: 0;
  z-index: 10;
}

.buti-foto.muncul {
  animation: naik-dari-dasar-bunga 3s ease-out forwards;
}
@keyframes naik-dari-dasar-bunga {
  0% {
    bottom: -10vmin;
    transform: translateX(-50%) scale(0);
    opacity: 0;
  }
  30% {
    bottom: 5vmin;
    transform: translateX(-50%) scale(0.4);
    opacity: 0.4;
  }
  60% {
    bottom: 25vmin;
    transform: translateX(-50%) scale(1.2);
    opacity: 1;
  }
  100% {
    bottom: 40vmin;
    transform: translateX(-50%) scale(1.15);
    opacity: 1;
  }
}
.buti-foto.foto--1.muncul {
  animation-delay: 3.5s;
}
.buti-foto.foto--2.muncul {
  animation-delay: 3.5s;
}
.buti-foto.foto--3.muncul {
  animation-delay: 3.5s;
}
#marqueeText {
  position: fixed;
  top: 45%;
  width: 100%;
  font-size: 4.5vmin;
  font-weight: bold;
  color: white;
  text-align: center;
  text-shadow:
    0 0 5px #fff,
    0 0 10px #fff,
    0 0 20px #fff,
    0 0 30px #fff;
  animation: blinkGlow 1.5s infinite alternate;
  z-index: 100;
}

@keyframes blinkGlow {
  0% {
    opacity: 0.6;
    text-shadow:
      0 0 10px #fff,
      0 0 20px #0ff,
      0 0 30px #0ff;
  }
  100% {
    opacity: 1;
    text-shadow:
      0 0 15px #fff,
      0 0 25px #0ff,
      0 0 35px #fff;
  }
}
